<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>General Semantics</title>
</head>
<body>
    <div class="btn-group" style="width:100%">
		<button style="width:32%">
			<form action="http://127.0.0.1:3000/MD">
				<input type="submit" name="send" value="Go Back" />
			</form></button>
		<button style="width:32%">
			<form action="http://127.0.0.1:3000">
				<input type="submit" name="send" value="Homepage" />
			</form></button>
		<button style="width:32%">
			<form action="http://127.0.0.1:3000/RecG">
				<input type="submit" name="send" value="Continue" />
			</form></button>
	</div>  
    
    <h3>General Semantics</h3>
    <p>The dataset "disease_evidences.tsv" is divided in 6 columns: </p>
    <ul>
        {% for el in result[0] %}
        <li>{{el}}</li>
        {% endfor %}
    </ul>
    <p></p>
    <p>The dataset "gene_evidences.tsv" is divided in 6 columns: </p>
    <ul>
        {% for el in result[1] %}
        <li>{{el}}</li>
        {% endfor %}
    </ul>
</body>
</html>
