<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gene Sentences</title>
</head>
<body>
	<div class="btn-group" style="width:100%">
		<button style="width:32%">
			<form action="http://127.0.0.1:3000/RecD">
				<input type="submit" name="send" value="Go Back" />
			</form></button>
		<button style="width:32%">
			<form action="http://127.0.0.1:3000">
				<input type="submit" name="send" value="Homepage" />
			</form></button>
		<button style="width:32%">
			<form action="http://127.0.0.1:3000/Top10">
				<input type="submit" name="send" value="Continue" />
			</form></button>
	</div>
	<p>The sentences related to COVID-19 given a disease name/ID is: </p>
	<ul>
		{% for sentence in result %}
		<li>{{sentence}}</li>
		<p></p>
		{% endfor %}
	</ul>
</body>
</html>
