<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TOP 10 association between genes and disease</title>
    
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
        
</head>
<body>
    <div class="btn-group" style="width:100%">
        <button style="width:32%">
            <form action="http://127.0.0.1:3000/ListDUser">
                <input type="submit" name="send" value="Go Back" />
            </form></button>
        <button style="width:32%">
            <form action="http://127.0.0.1:3000">
                <input type="submit" name="send" value="Homepage" />
            </form></button>
        <button style="width:32%">
            <form action="http://127.0.0.1:3000/GtoDUser">
                <input type="submit" name="send" value="Continue" />
            </form></button>
    </div>
    <h1>The 10 most frequent gene-disease associations are:</h1>
    <table>
        <tr>
        <th>Gene ID</th>
        <th>Disease symbol</th>
        <th>Number of repeats</th>
        </tr>
        <tr>
        <td>{% for gene in result[0] %}
            <li>{{gene}}</li>
            <p></p>
            {% endfor %}</td>
        <td>{% for disease in result[1] %}
            <li>{{disease}}</li>
            <p></p>
            {% endfor %}</td>
        <td>{% for repeats in result[2] %}
            <li>{{repeats}}</li>
            <p></p>
            {% endfor %}</td>
        </tr>

    </table>
</body>

</html>
